<?xml version='1.0' encoding='utf-8'?>
<widget id="com.felipeprodossimo.appdesenho" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PINTeAPP</name>
    <description>Faça seu desenho MARAVILHOSO</description>
    <author email="felipe.profissional4@gmail.com" href="https://github.com/FelipeProdossimo">
        Felipe Prodóssimo
    </author>
    <icon src="res/icon.png" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
